<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!--[if IE]>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<![endif]-->
    <title>Minimal Bootstrap Blog Theme</title>
     <!-- HTML5 Shiv and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <section id="head">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="social-wrapper">
                            <a href="#" class="btn btn-social ">
                                <i class="fa fa-facebook fa-2x"></i></a>
                            <a href="#" class="btn btn-social ">
                                <i class="fa fa-google-plus fa-2x"></i></a>
                            <a href="#" class="btn btn-social ">
                                <i class="fa fa-twitter fa-2x"></i></a>
                            <a href="#" class="btn btn-social ">
                                <i class="fa fa-linkedin fa-2x"></i></a>
                        </div>
                     <a class="logo" href="index.html"><h1> Minimal</h1></a>   

                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipi elit.
Mauris sagit felis dolor vitae.

                        </p>

                    </div>
                    <div class="col-xs-12 col-sm-6 col-sm-offset-2 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4 text-center">
                        <div class="well well-lg adv-div">
                            <h4>Advertisement:</h4>
                            <small>Lorem ipsum dolor sit amet, consectetur adipi elit.
Mauris sagit felis dolor vitae. <a href="#">explore </a>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- HEAD SECTION END-->
    <section id="blog">
        <div class="container">
           
               <div class="row ">
                <div class="blog-wrapper">

                   
                    <div class="col-xs-12 col-sm-8 col-sm-offset-4 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
                        <div class="custom-blog">
                            <h1> Fusce vehicula magna at turpis tempus, non sodales metus gravida.</h1>
                            <div>
                                <ol class="breadcrumb">
                                    <li><a href="#">In : Entertainment</a></li>
                                    <li><a href="#">On : 23 <sup>rd</sup> March 2015</a></li>
                                </ol>
                            </div>
                            <p>
                               
                                Sed venenatis vehicula magna, eget consequat ipsum varius eu.
                                Nunc mattis dignissim nisi eu euismod. Curabitur tempor fermentum aliquam.
                                Praesent volutpat dui vel augue volutpat, posuere interdum neque pellentesque.
                                Nunc mattis dignissim nisi eu euismod. Curabitur tempor fermentum aliquam.

                            </p>
                            <img src="images/4.jpg" class="img-responsive" />
                            <br />
                             <p class="text-info">
                               
                                Sed venenatis vehicula magna, eget consequat ipsum varius eu.
                                Nunc mattis dignissim nisi eu euismod. Curabitur tempor fermentum aliquam.
                                Praesent volutpat dui vel augue volutpat, posuere interdum neque pellentesque.
                                Nunc mattis dignissim nisi eu euismod. Curabitur tempor fermentum aliquam.

                            </p>
                             <p >
                               
                                Sed venenatis vehicula magna, eget consequat ipsum varius eu.
                                Nunc mattis dignissim nisi eu euismod. Curabitur tempor fermentum aliquam.
                                Praesent volutpat dui vel augue volutpat, posuere interdum neque pellentesque.
                                Nunc mattis dignissim nisi eu euismod. Curabitur tempor fermentum aliquam.
                                 Sed venenatis vehicula magna, eget consequat ipsum varius eu.
                                Nunc mattis dignissim nisi eu euismod. Curabitur tempor fermentum aliquam.
                                Praesent volutpat dui vel augue volutpat, posuere interdum neque pellentesque.
                                Nunc mattis dignissim nisi eu euismod. Curabitur tempor fermentum aliquam.
                                 Sed venenatis vehicula magna, eget consequat ipsum varius eu.
                                Nunc mattis dignissim nisi eu euismod. Curabitur tempor fermentum aliquam.
                                Praesent volutpat dui vel augue volutpat, posuere interdum neque pellentesque.
                                Nunc mattis dignissim nisi eu euismod. Curabitur tempor fermentum aliquam.

                            </p>
                             <p class="text-muted">
                               
                                Sed venenatis vehicula magna, eget consequat ipsum varius eu.
                                Nunc mattis dignissim nisi eu euismod. Curabitur tempor fermentum aliquam.
                                Praesent volutpat dui vel augue volutpat, posuere interdum neque pellentesque.
                                Nunc mattis dignissim nisi eu euismod. Curabitur tempor fermentum aliquam.

                            </p>
                            <a class="btn btn-info" href="index.html">Back To Home </a>
                        </div>

                    </div>
                </div>

            </div>
            <!--SINGLE POST END-->
            <div class="row page-set">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
                    <div class="comment-sec">
                        <h1>Recent Comments</h1>
                        <div class="comment-wrapper">
                            <h4>Jhon Golitak</h4> <small>12<sup>th</sup> May 2015</small>
                        <p>
                                Sed venenatis vehicula magna, eget consequat ipsum varius eu. eget consequat ipsum varius eu.
                        </p>
                        </div>
                         <div class="comment-wrapper">
                            <h4>Roshak Denial Sui</h4> <small>12<sup>th</sup> May 2015</small>
                        <p>
                                Sed venenatis vehicula magna, eget consequat ipsum varius eu. eget consequat ipsum varius eu.
                        </p>
                        </div>
                    </div>
                </div>

            </div>
             <!--COMMENTS END-->
             <div class="row page-set">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
                    <div class="comment-sec">
                        <h1>- SAY IT -</h1>
                          <div class="panel panel-info set-post" >
                            <input type="text" class="form-control" placeholder="Enter Your Name" />
                              <hr />
                       <textarea rows="3" class="form-control" placeholder="Enter Your Comment" ></textarea>
                              <br />
                              <button type="submit" class="btn btn-info btn-lg" >SUBMIT COMMENT</button> 
                        </div>
                        </div>
                    </div>
                 </div>
             <!--POST COMMENT-->
        </div>

    </section>
    <!-- BLOG SECTION END-->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    &copy; 2015 YourDomain.com | by<a href="http://www.designbootstrap.com/" target="_blank">DesignBootstrap </a>
                </div>
            </div>
        </div>
    </footer>
    <!-- FOOTER SECTION END-->
</body>
</html>
